name: orca

on:
  pull_request:
  push:
    branches: [ development ]
    tags: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  orca:
    # do not run on forks or dependabot PRs
    if: |
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' &&
      github.event.pull_request.head.repo.full_name == github.repository &&
      github.actor != 'dependabot[bot]')
    uses: JeffersonLab/acro/.github/workflows/orca.yml@main
    with:
      # ref_var controls which git ref variable gets set to the triggering ref;
      # - see the variables named `REF_*` in https://code.jlab.org/hallb/clas12/orca/-/blob/main/.gitlab-ci.yml?ref_type=heads
      # - for example, `REF_COATJAVA`
      # - here we just use a non-existent `REF_*` variable "`REF_NOOP`" (`orca` will ignore it)
      ref_var: REF_NOOP
      # timeout is the maximum time to allow the pipeline to run (seconds)
      pipeline_timeout: 3600
    secrets:
      orca_project_id: ${{ secrets.ORCA_PROJECT_ID }}
      orca_project_token: ${{ secrets.ORCA_PROJECT_TOKEN }}
      orca_trigger_token: ${{ secrets.ORCA_TRIGGER_TOKEN }}
